.container{
    display: flex;
    flex-wrap: nowrap;
    width: 90%; max-width: 1200px;
    flex-direction: row;
    gap: 1rem;
}

.layout, .layout2{
    display: flex;
    padding: 15px;
    flex-grow: 0;
    flex-direction: column;
    background-color: white;
    border-radius: var(--borderRadius);
}

.layout2{
    width: 30%;
    text-align: center;
}

.layout{
    width: 70%;
    justify-content: center;
}

.overview-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    gap: 1rem;
}

.item{
    display: flex;
    flex-direction: column;
    gap:  1rem;

    & > p{
        font-size: 14px;
    }
}

.item-summary{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;

    & > .item{
        gap: 0;
        align-items: center;
    }
}

.sales{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.top-sell{
    width: 30%;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    border-radius: var(--borderRadius);
}

.items{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;  
    margin-top:20%;
    gap: 10px;
    scroll-behavior: smooth;
}

.product{
    flex: 0 0 100%; 
    scroll-snap-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slctDate{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--borderInputColor);
    border-radius: 8px;
}

.circles{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & > .prodActive{
        background-color: rgba(0, 0, 0, 0.461);
    }
}

.lowStockItem{
    width: 85%; max-width: 1180px;
    padding: 15px;
    background-color: white;
    border-radius: var(--borderRadius);

    td, th, tr{
        padding: 15px;
        text-align: center;
        font-size: 16px;
        color: var(--secondaryTextColor);
    }
    
    tr{
        border-bottom: 1px solid #0000002a;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;
    }
}

.warning{
    background-color: #feeceb;
    padding: 5px 8px;
    color: #aa3028;
    border-radius: var(--borderRadius);
}

@media only screen and (max-width: 850px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .top-sell{
        flex-grow: 1;
    }

    .items{
        margin-top: 5%;
    }

    .layout2, .layout{
        flex-grow: 1;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .sales{
        flex-direction: column;
        align-items: center;
    }
}