.item-summary{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;

    & > .item{
        gap: 0;
        align-items: center;
    }
}

.sales{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.top-sell{
    width: 30%;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    border-radius: var(--borderRadius);
}

.items{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;  
    margin-top:20%;
    gap: 10px;
    scroll-behavior: smooth;
}

.product{
    flex: 0 0 100%; 
    scroll-snap-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slctDate{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--borderInputColor);
    border-radius: 8px;
}

.circles{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & > .prodActive{
        background-color: rgba(0, 0, 0, 0.461);
    }
}

.warning{
    background-color: #feeceb;
    padding: 5px 8px;
    color: #aa3028;
    border-radius: var(--borderRadius);
}

@media only screen and (max-width: 850px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .top-sell{
        flex-grow: 1;
    }

    .items{
        margin-top: 5%;
    }

    .layout2, .layout{
        flex-grow: 1;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .sales{
        flex-direction: column;
        align-items: center;
    }
}