body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

:root {
    --primaryTextColor: #000000;
    --secondaryTextColor: #000000e8;
    --borderInputColor: #00000034;
}

h2, p, h3{
    margin: 0;
}

p{
    font-size: 13px;
    color: var(--secondaryTextColor);
}

h2{
    font-weight: 600;
    font-size: 26px;
}

label{
    font-size: 14px;
    color: var(--secondaryTextColor);
}

button{
    border: none;
    border-radius: 5px;
    color: #FFFF;
    font-size: 14px;
    background-color: #409BBB;
}

input{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 2px;
    font-size: 14px;
}

hr{
    border-top: 1px solid #00000010;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #FFFF;
}

::-webkit-scrollbar-thumb {
    background: #88888897;
}

::-webkit-scrollbar-thumb:hover {
    background: #5555550a;
}
