.tbl-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.header-action{
    display: flex;
    flex-direction: row;
    gap: .8rem;
}


.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderInputColor);
    border-radius: var(--borderRadius);
    padding: 4px;
}