header{
    background-color: #FFFF;
    margin-left: 232px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2.5rem;
    justify-content: space-between;
    box-shadow: -2px 2px 3px #00000012;
}

:root {
    --primaryTextColor: #000000;
    --secondaryTextColor: #000000b3;
    --borderInputColor: #00000034;
    --buttonColor: #409bbb;
    --borderRadius: .5rem
}

h4{
    color: var(--secondaryTextColor);
    margin: 0;
}

.menu-btn{
    display: none;
}

.notif-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 0;
}

.activeNotif{
   display: block !important;
}

.notif-icon{
    border: 1px solid var(--borderInputColor);
    color: var(--buttonColor);
    display: flex;
    padding: 5px 12px;
    align-items: center;
    border-radius: var(--borderRadius);
    position: relative;
}

.notif-item{
    position: fixed;
    display: none;
    top: 80px;
    right: 90px;
    width: 270px;
    height: 400px;
    border-radius: 15px;
    background-color: #FFFF;
    box-shadow: -1px -1px 10px 4px #00000012;

    &::after{
        position: absolute;
        content: "";
        top: -8px;
        right: 15px;
        width: 20px;
        height: 20px;
        background-color: black;
    }
}

.settings{
    border: 1px solid var(--borderInputColor);
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: var(--buttonColor);
    border-radius: var(--borderRadius);
}

.footer{
    display: flex;
    gap: 1rem;
}

.inp-search{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 30%;
    color: var(--secondaryTextColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderInputColor);
}

.logo, .search-icon{
    display: none;

    & > svg {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    header {
        margin: 0;
        gap: 15%;
    }

    header > h4 {
        display: none;
    }

    .inp-search {
        display: flex;
    }

    .search-icon {
        display: flex;
        border: none;
    }

    .menu-btn {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    header {
        padding: 0 .8rem;
        height: 55px;
    }

    .search-icon {
        display: flex;
        border: 1px solid var(--borderInputColor);
        align-items: center;
        padding: 0 5px;
        color: var(--buttonColor);
        border-radius: var(--borderRadius);
    }

    .search-icon > svg {
        display: block;
        font-size: 20px;
    }

    .footer {
        gap: .5rem;
    }

    .inp-search {
        display: flex;
        padding: 3px;
        width: 100%;

        & > svg {
            font-size: 20px;
        }
    }

    .notif-icon {
        padding: 7px;

        & > svg{
            font-size: 20px;
        }  
    }

    .settings{
        padding: 7px;

        & > svg{
            font-size: 20px;
        }
    }

    .menu-btn{
        padding: 7px;
    
        & > svg{
            font-size: 20px;
        }
    }
}

